GROQ_API_KEY=put_your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
GOOGLE_SHEET_ID=put_your_google_sheet_id_here
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account"}
MAX_JOBS_PER_SITE=500
